@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white text-gray-900 transition-colors duration-300;
}

html.dark body {
  @apply bg-gray-900 text-white transition-colors duration-300;
}

/* Smooth theme transition helper */
.theme-transition, .theme-transition * {
  transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease, box-shadow 250ms ease;
}

.sidebar-hide-scroll::-webkit-scrollbar {
  display: none;
}

.sidebar-hide-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
html {
  scroll-behavior: smooth;
}
